@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700);

body {
  text-align: center;
  font-family: sans-serif;
  font-size: 20pt;
  background-color: #C3CAD1;
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  margin: 100px;
}

#photo {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  border: solid 2px #FFFFFF;
}

ul, li {
  text-decoration: none;
  list-style: none;
  padding: 0px;
}

ul#icons li {
  display: inline-block;
}

ul#icons img {
  width: 60px;
  margin: 5px;
}
